@{
    Page.Code = "greatblessinglanier";

    var ru = Page.IsRu;
    Page.Title = ru ? "Освящение воды" : "Blessing of water";
    //var address = ru ? "Адрес" : "Address";
}

@Sections.BaptismOnLakeLanier(ru)

<div>
    <section class="s-content">
        <img src="~/Images/LakeLanier/WaterBlessingLanierMap.jpg" style="width:704px;height:707px;margin:0.2em 0 0 0" />
        <img src="~/Images/LakeLanier/WaterBlessingLanier1.jpg" style="width:653px;height:391px;margin:0.2em 0 0 0" />
        <img src="~/Images/LakeLanier/WaterBlessingLanier2.jpg" style="width:653px;height:391px;margin:0.2em 0 0 0" />
        <img src="~/Images/LakeLanier/WaterBlessingLanier3.jpg" style="width:653px;height:391px;margin:0.2em 0 0 0" />
    </section>
</div>